.app {
    height: 100%;
    background-color: aliceblue;
}

.title {
    text-align: center;
    font-weight: normal;
    font-size: large;
    margin: 2px;
}

.data {
    background-color: white;
}

.topic {
    padding: 0.5rem 1rem;
}

.border {
    border: 1px solid rgb(45, 45, 45);
}

.subreddit-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.subreddit {
    padding: 1rem;
    color: blue;
}
