.app {
    height: 100%;
    background-color: aliceblue;
}

.header {
    text-align: center;
    white-space: nowrap;
    width: 100vw;
    background-image: url("https://wallpapertops.com/walldb/original/1/d/e/501238.jpg");
    color: white;
}
