<div class="post-container">
    <div class="post-header">
        <h4>{{post.name}} by '{{post.author}}'</h4>
        <h5>Score: {{post.score}}</h5>
    </div>
    <div class="post-body">
        <p *ngIf="!expand">{{post.text.substring(0, 150)}}<button class="text-filter" (click)="expand = !expand">Continue reading...</button></p>
        <p *ngIf="expand">{{post.text}}<button class="expand-text" (click)="expand = !expand">See less...</button></p>
    </div>
    <div class="post-footer">
        <h5>{{post.url}}</h5>
        <h5>{{post.time}}</h5>
    </div>
</div>