.post-container {
    background-color: aliceblue;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.post-header, .post-body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-left: 1px solid rgb(25, 25, 25);
    border-right: 1px solid rgb(25, 25, 25);
}

.post-header {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top: 1px solid rgb(25, 25, 25);
}

.post-body {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 1px solid rgb(25, 25, 25);
}

.post {
    margin-left: 1rem;
    margin-right: 1rem;
}

.text-filter {
    color: blue;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

@media (min-width: 1400px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}


@media (min-width: 576px) {

}