.post-container {
    background-color: rgb(210, 210, 210);
    width: 100%;
    padding-right: 2.75rem;
    padding-left: 2.75rem;
    margin-right: auto;
    margin-left: auto;
}

.post-header, .post-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid rgb(25, 25, 25);
}

.text-filter {
    color: blue;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

@media (min-width: 1400px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {

}

@media (min-width: 768px) {

}


@media (min-width: 576px) {

}