<div class="row">
    <mat-form-field class="exclude-topics-form">
        <mat-label>Exclude Topics</mat-label>
        <mat-chip-list #chipList aria-label="Topic deselection">
            <mat-chip *ngFor="let notTopic of notTopicList" class="not-topic-element">
                {{notTopic}}
                <button mat-icon-button class="close-button" (click)="remove(notTopic)">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input placeholder="Remove..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
    </mat-form-field>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="row justify-content-between filter">
            <div class="col-lg-4">
                Minimum Number of Comments
            </div>
            <div class="col-lg-4">
                <input type="text" placeholder="Enter number..." (keyup)="changeCommentLimit($event)">
            </div>
        </div>
        <div class="row justify-content-between filter">
            <div class="col-lg-4">
                Minimum Number of Upvotes
            </div>
            <div class="col-lg-4">
                <input type="text" placeholder="Enter number..." (keyup)="changeUpvoteLimit($event)">
            </div>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="row justify-content-between filter">
            <div class="col-lg-4" style="display: flex; align-items: center;">
                Number of Entries Searched
            </div>
            <div class="col-lg-4">
                <div class="btn-group" role="group">
                    <button class="btn btn-secondary btn-select" *ngFor="let entryLimit of entriesSearched" (click)="changeEntryLimit(entryLimit)">{{entryLimit}}</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-between filter">
            <div class="col-lg-4">
                Include NSFW
            </div>
            <div class="col-lg-2">
                <input type="checkbox" (change)="changeNSFW()">
            </div>
        </div>
    </div>
    
</div>
