.exclude-topics-form {
    flex: 1;
}

.mat-icon-button {
    width: 20px;
    margin-left: 0.2rem;
}

.filter {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

    .filter {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

}

@media (max-width: 576px) {

}